<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" verbose="1" name="LinkStorageIntegration-suite"
	annotations="JDK" parallel="methods">

  <!--base defaults which i'll be passing to my test methods-->
  <parameter name="url" value="dir.bg"/>
  <parameter name="metaDescription" value="description"/>
  <parameter name="createdAt" value="2010-09-27 09:33:00"/>
  <parameter name="updatedAt" value="2010-09-27 09:33:01"/>

  <!--view names that return from LinkController methods-->
  <parameter name="getLink" value="links"/>

  <test name="integration-tests">
    <packages>
      <package name="org.linkstorage.model"/>
      <package name="org.linkstorage.repository"/>
      <package name="org.linkstorage.controller"/>
    </packages>
  </test>

</suite>